<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>knjigeServlet</servlet-name>
        <servlet-class>servlets.knjigeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacijaServlet</servlet-name>
        <servlet-class>servlets.rezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervisiServlet</servlet-name>
        <servlet-class>servlets.rezervisiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PregledServlet</servlet-name>
        <servlet-class>servlets.PregledServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>servlets.deleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>knjigeServlet</servlet-name>
        <url-pattern>/knjigeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacijaServlet</servlet-name>
        <url-pattern>/rezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervisiServlet</servlet-name>
        <url-pattern>/rezervisiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PregledServlet</servlet-name>
        <url-pattern>/PregledServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
